{% load static %}
<div class="page-section restaurant-detail-image-section" style="background: url('/media/{{ vendor.user_profile.cover_picture }}') no-repeat scroll 0 0 / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="company-info-detail">
                    <div class="company-info">
                        <div class="img-holder">
                            <figure>
                                {% if vendor.user_profile.profile_picture %}
                                <img src="/media/{{ vendor.user_profile.profile_picture }}" alt="">
                                {% else %}
                                <img src="{% static 'assets/images/profile.jpg' %}" alt="">
                                {% endif %}
                            </figure>
                        </div>

                        <div class="row">
                            <div class="restaurant-title col text-white fs-1">
                                {{vendor.restaurant_name}}
                                <i class="icon-local_pizza"></i>
                                {% if vendor.user_profile.address %}
                                <p class="text-white fs-3" style="color: white !important;">{{vendor.user_profile.address}}</p>
                                {% endif %}
                            </div>
                            <div class="text col">
                                <h5>Opening Hours:</h5>
                                <div class="mb-3 d-flex">
                                    <div class="fs-3 fw-semibold mx-2 mt-1"><button type="button" class="btn btn-danger">{{status}}</button></div>
                                    <select class="form-select">
                                    {% for hour in opening_hours %}
                                        <option>
                                            <li>
                                                <span class="opend-day">{{hour.get_day_display}}</span>
                                                <span class="opend-time">
                                                </span>
                                                <small>:</small>
                                                {% if not hour.from_hour or not hour.to_hour %}
                                                    Closed
                                                {% else %}
                                                    {{ hour.from_hour }} - {{ hour.to_hour }}
                                                {% endif %}
                                            </li>
                                        </option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>